<h1>Dashboard</h1>

<% if current_user %>
    <h2>Registered Events</h2>
    <%= link_to "View available tables", tables_path %>
<% elsif current_host %>
    <h2>Current Tables</h2>
    <% @main.each do |table| %>
        <div>
            <h3><%= table.table_name %></h3>
            <h4><%= table.table_date.to_formatted_s(:long)%></h4>
            <h4><%= table.table_time.strftime("Starts at %I:%M%p")%></h4>
        </div>
    <% end %>
    <%= link_to "Create a new table", new_table_path %>
<% end %>