<h1>Log In!</h1>

<%= form_for :session, url: sessions_path do |s| %>
    <div class="field">
        <%= s.label :email %>
        <%= s.email_field :email %>
    </div>
    <div class="field">
        <%= s.label :password %>
        <%= s.password_field :password %>
    </div>
    <div class="field submit">
        <%= s.submit "Log In" %>
    </div>
<% end %>
