<h1>Create a new table</h1>

<% if @table.errors.any? %>
    <% @table.errors.full_messages.each do |message|%>
        <p><%= message %></p>
    <% end %>
<% end %>

<%= form_for @table do |t| %>
    <div class="form-group">
        <%= t.label :table_name %>
        <%= t.text_field :table_name, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= t.label :table_date %>
        <%= t.date_field :table_date, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= t.label :table_time %>
        <%= t.time_field :table_time, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= t.label :number_of_seats%>
        <%= t.number_field :number_of_seats, class: "form-control" %>
    </div>
    <div class="submit">
        <%= t.submit "Create Table", class: "btn btn-primary" %>
    </div>
<% end %>