<!DOCTYPE html>
<html>
    <head>
        <title>Gametable</title>
        <%= csrf_meta_tags %>

        <!--Bootstrap CDN-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>

        <% if current_user %>
            <p>Hello <%= current_user.first_name + ' ' + current_user.last_name %></p>
        <% elsif current_host %>
            <p>Hello <%= current_host.name %></p>
        <% end %>

        <% if current_user %>
            <h4><%= link_to "Account: #{current_user.first_name} #{current_user.last_name}", users_path %> | <%= link_to "Log Out", sessions_path, method: :delete %></h4>
        <% elsif current_host %>
            <h4><%= link_to "Account: #{current_host.name}", hosts_path %> | <%= link_to "Log Out", sessions_path, method: :delete %></h4>
        <% else %>
            <h4><%= link_to "Sign Up", new_users_path %> | <%= link_to "Log In", new_sessions_path %></h4>
        <% end %>

        <% if flash.any? %>
            <% flash.each do |key, value| %>
                <p class="<%= key %>"><%= value %></p>
            <% end %>
        <% end %>

        <%= yield %>
     </body>
</html>
